{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.picture, 'Image à la une') }}
        {{ form_widget(form.picture, {'attr': {'class': 'form-control-file'}}) }}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(form.title, 'Titre') }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}}) }}
            <small class="text-danger">{{ form_errors(form.title) }}</small>
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.categories, 'Catégories') }}
            {{ form_widget(form.categories, {'attr': {'class': 'selectpicker form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.content, 'Contenu') }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 12}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
