{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Articles récents</h1>
        </div>
    </div>

    <div class="row">
        <div class="d-flex flex-row flex-wrap">
            <div class="card m-2" style="width: 16rem;">
                <a href="{{ path('show_article', {'slug': 1}) }}">
                    <img class="card-img-top" src="https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </a>
                <div class="card-body">
                    <a href="{{ path('show_article', {'slug': 1}) }}">
                        <h5 class="card-title">Comment faire une app géniale</h5>
                    </a>
                    <small class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content...</small>
                </div>
            </div>

            <div class="card m-2" style="width: 16rem;">
                <a href="{{ path('show_article', {'slug': 1}) }}">
                    <img class="card-img-top" src="https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </a>
                <div class="card-body">
                    <a href="{{ path('show_article', {'slug': 1}) }}">
                        <h5 class="card-title">Comment faire une app géniale</h5>
                    </a>
                    <small class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content...</small>
                </div>
            </div>

            <div class="card m-2" style="width: 16rem;">
                <a href="{{ path('show_article', {'slug': 1}) }}">
                    <img class="card-img-top" src="https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </a>
                <div class="card-body">
                    <a href="{{ path('show_article', {'slug': 1}) }}">
                        <h5 class="card-title">Comment faire une app géniale</h5>
                    </a>
                    <small class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content...</small>
                </div>
            </div>

            <div class="card m-2" style="width: 16rem;">
                <a href="{{ path('show_article', {'slug': 1}) }}">
                    <img class="card-img-top" src="https://images.pexels.com/photos/270557/pexels-photo-270557.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </a>
                <div class="card-body">
                    <a href="{{ path('show_article', {'slug': 1}) }}">
                        <h5 class="card-title">Comment faire une app géniale</h5>
                    </a>
                    <small class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content...</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
