{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<article class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>{{ article.title }}</h1>
            <p class="text-secondary">Par <a href="">@alioukahere</a>, le {{ article.publishedAt|format_date() }}</p>
            <img src="{{ asset('uploads/' ~ article.picture) }}" alt="" class="img-fluid">
            <p>
                <small>
                    {% for category in article.categories %}
                        <a href="">{{ category.label }}</a>,
                    {% endfor %}
                </small>
            </p>

            <div class="mt-4">
                {{ article.content }}
            </div>
        </div>
    </div>
</article>
{% endblock %}
